<!--
<div class="nms ui large vertical secondary menu">

    <a class="item">
        <a href="/" class="ui image">
            <img class="clarity logo" src="img/logo_mini.png">
        </a>
    </a>

</div>

<div class="nms ui  large vertical menu">


    <a ui-sref="clarity.home" class=" item">
        <i class="home icon"></i> Inicio
    </a>
    <a ui-sref="clarity.tema.list" class="item">
        <i class="mail icon"></i> ABM Tema
    </a>
    <a ui-sref="clarity.contacto.list" class="item">
        <i class="mail icon"></i> ABM Contacto
    </a>

</div>
-->


<div class="ui red vertical menu sidebar menu">
    <a class="item cerrar ui fluid small blue button" ng-click="closeMenu();">
        <i class="close icon"></i>
        Cerrar
    </a>
    <a ui-sref="clarity.home" class=" item">
        <i class="home icon"></i> Inicio
    </a>
    <a ui-sref="clarity.tema.list" class="item">
        <i class="mail icon"></i> ABM Tema
    </a>
    <a ui-sref="clarity.contacto.list" class="item">
        <i class="mail icon"></i> ABM Contacto
    </a>
</div>
