<h1>Nuevo Tema</h1>


<div class="ui fluid form">

    <div class="field">
        <div class="ui menu">
            <div class="item">
                <div class="ui secondary submit button">Guardar</div>
                <a ui-sref="clarity.tema.list" class="ui small blue button">Cancelar</a>
            </div>
        </div>
    </div>



    <div class="fields">
        <div class="field">
            <label for="description">Descripcion</label>
            <input id="description" type="text" ng-model="item.Descripcion" />
        </div>
    </div>


</div>
